.container {
  background-color: #fff;
  width: 100vw;
  height: 100vh;
}

.navbar {
  padding: 2rem;
  display: flex;
}

.navlink {
  padding: 20px;
}

nav.navbar-light.navbar.navbar-expand-lg.bg-white.main-navbar {
  padding: 30px;
}
